body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 15px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.field-validation-error {
  color: red;
}
.input-validation-error {
  border: 2px solid red;
}
/*Bootstrap Overrides*/
.navbar-inverse {
  background-color: slategray;
  border-color: slategray;
  background-image: none;
}
.navbar-inverse .navbar-collapse {
  font-size: 16px;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: slategray;
}
.navbar-brand {
  font-weight: 700;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Source Sans Pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
  color: black;
  font-weight: 700;
}
h3 {
  color: black;
}
.btn {
  /*font-size: 17px;
	padding: 7px 20px;*/
  -ms-border-radius: 9px;
  border-radius: 9px;
  background-image: none;
  background-color: Highlight;
  border-color: Highlight;
  color: black;
  font-weight: 700;
}
.form-control:focus {
  border-color: #2196f3;
  -webkit-box-shadow: none;
  box-shadow: none;
}