@{
    ViewBag.Title = "About Me";
}

<div class="container">

    <div class="row">
        <div class="about">
            <div class="about2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h3>My Desire to Create this Website</h3>
                <p>
                    My name is Dan Sheehan. I created this website because I have always had a passion for Meteorology
                    and have recently developed one for programming. I downloaded climate data for the Chicago area and
                    plugged it into the website, allowing users to search for weather for any date going back to 1926. I
                    hope to add a few other cities as time goes on. Some holiday history has already been posted
                    for the user to look at. There is a seven day forecast and a weather discussion highlighting upcoming
                    events for the user to utilize as well. I hope you enjoy this page. Please feel free to leave me comments.
                </p>
                <h3>Upcoming Changes</h3>
                <p>
                    I hope to add weather data for Louisville, Kentucky to this website in the near future.
                    I'm also hoping to add monthly temperature, precipitation, and snowfall records. I'd like to add
                    statistical climate summaries for each holiday.
                </p>
            </div>
            <div class="about3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h3>Some Website Information</h3>
                Any precipitation amounts of a trace were just made 0. <br />
                As of now I have official records going back to January 1st, 1926. <br />
                I will try to update the forecast and records daily.
            </div>
            <div class="about4 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h3>Contact Me</h3>
                If you have any forecast or weather history questions, contact me at dshee23@gmail.com.<br />
                I will be happy to answer your questions.
            </div>
        </div>
    </div>
    
</div>