
@{
    ViewBag.Title = "Forecast Discussion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forecast Discussion for the week</h2>

<div style="float:right;">
    <img src="@Url.Content("~/Content/Photos/NAM850.png")" width="400" height="300" alt="December Snowfall 2016" style="margin-left:5px;" /><br />
    <img src="@Url.Content("~/Content/Photos/Jan.gif")" width="300" height="300" alt="December Snowfall 2016" style="margin-left:5px; margin-top:100px;" />
</div>

<div style="width: 650px; height: 700px;">
    <p>
        The main weather concerns center around the threat of dense fog
        tonight.
    </p>

    <p>
        Surface ridge of high pressure currently resides across the Mid
        Mississippi Valley to the lower Great Lakes. With low-level
        moisture remaining trapped under a stable inversion aloft, cloud
        cover has been slow to dissipate across the area. However,
        improvement is beginning, with skies even scattering out into the
        western suburbs of Chicago at this time. This trend will likely
        continue for at least a few hours into the early evening. The
        main concern, however, is what happens thereafter.
    </p>

    <p>
        Low-level moisture remains quite high across the region, and as
        skies scatter out for a brief period this evening, it will not
        take much of a fall in temperatures to result in a quick
        redevelopment of low clouds and fog. As a result, I think
        conditions will deteriorate again by mid to late evening, with
        dense fog and/or very low CIGs redeveloping over the area overnight.
        This fog then looks to linger into at least early Thursday
        morning, before improving.
    </p>

    <div style="margin-top: 150px;">
        <h2>Climate Outlook for the rest of the month</h2>

        <p>
            The rest of the month tends to continue to look above normal.
            The threat of heavy rainfall will continue for the rest of the
            month. A record low amount of snow has occured this month.
        </p>
    </div>
</div>

