@model IEnumerable<HistoryData.Core.Models.History>
@{
    ViewBag.Title = "Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Records</h2>

<p class="alert alert-info">
    Climate data is from the Midwest Regional Climate Center
</p>

<button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "History")'">New Record</button>
<br /><br />


<table id="records" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Day</th>
            <th>High Temperature</th>
            <th>Low Temperature</th>
            <th>Mean Temperature</th>
            <th>Precipitation</th>
            <th>Daily Snowfall</th>
            <th>Snowdepth</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            RecordsController.init("#records");

            $("#records").on("click", ".js-edit", function () {
                var button = $(this);
                window.location.href = '@Url.Action("Edit", "History")?id=' + button.attr("data-history-id");
            });
      });
  </script>
}